*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(bg.jpg);
}
.bara{
  font-family: Arial;
    background-color: #333333;
    overflow: hidden;
    height: 50px;
    color: white;
    border-radius: 0px;
    margin: 0 0px;
    border: white 0px solid;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75);
    position: fixed;
    width:100%;
    margin-top: -60px;

}
.bara h1{
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  margin-left: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
  margin-right: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
.main_page{


  border: 2px white solid;
  margin: 60px 100px;
  padding-top: 0;
  padding: 0px;
  background-color: #333333;
  font-family: Arial;
  font-weight: bold;
  color: white;
  padding-top: 0;
}
.main_text{

  overflow: auto;
  text-align: center;
}
.main_page p{
  padding: 10px 55px;
}
.contacts{
  margin: 40px;
  margin-top: 15px;
}
a{
  color:white;
  text-decoration: none;
}
.main_page a:hover{
  text-decoration:underline;
  weight:bold;
}
.a{
  margin-right: 10px;
}
